<table> 
    <tr> 
        <th> <%= @cat.name %> </th>
    </tr>
    <tr> 
        <td> <%= @cat.birth_date %> </td>
        <td> Gender: <%= @cat.sex %> </td>
    </tr>
    <tr>
        <td> Color: <%= @cat.color %></td>
    </tr>
    <tr>
        <td> <%= @cat.description%> </td>
    </tr>

</table>